<style>
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        background-color: #ffc107;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }
    input[type="checkbox"]:hover {
        background-color: #f1b507;
    }
    input[type="checkbox"]:checked {
        background-color: #00bcd4;
    }
</style>

<input type="hidden" name="id" value="{{ object.id }}">
<label for="favorite-checkbox">
    <input type="checkbox" id="favorite-checkbox" name="is_favorite" value="{{ object.is_favorite }}" {% if object.is_favorite %}checked{% endif %}>
